<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Welcome to Brief!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" href="../../css/brief.css" th:href="@{/css/brief.css}" />

    <script src="../../js/jquery-2.2.1.min.js" th:src="@{/js/jquery-2.2.1.min.js}"></script>    

    <script>
      $(document).ready(function() {
        $("#abbr").click(function(event) {
          $.ajax({url: "abbr?user_url=" + $("#user_url").val(), success: function (result) {
              $("#abbr_url").attr("value",result);
            }});
        });
      });
    </script>
  </head>

  <body>

    <h2>Welcome to Brief!</h2>
    <br/>
    <p>The application is meant to provide you a shorter URL.</p>
    <br/>
    <br/>
    <p>
      <input type="text" id="user_url" name="user_url" size="50" maxlength="256" 
            placeholder="Paste your URL here"/> &nbsp; &nbsp;
      <input type="button" id="abbr" name="abbr" value="Abbreviate"/>
      <br/>    
      <br/>    
      <input type="text" id="abbr_url" name="user_url" size="50" maxlength="256" 
            placeholder="Abbriviated URL would appear here"/> &nbsp; &nbsp;      
    </p>
    <br/>
    <br/>
    <br/>
    <div th:include="footer::copy">&copy; 2016 Brief</div>
    <br/>
  </body>

</html>
